@import '~root/variables';

.header
  display flex
  justify-content space-between
  align-items center
  padding 5px 25px
  color gray
  background-color black

  .link
    color currentColor
    text-decoration none
.content
  overflow auto
  padding 10px 50px